.section-body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    text-align: center;
}

