* {
    padding: 0;
    margin: 0;
}
.nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}
.nav__link {
    margin:0 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
}
.nav__link:hover {
    color: rgb(121, 197, 8);
    transition: .2s linear;
}